@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*{
    padding: 0px;
    margin: 0px;
    font-family: "Raleway";
}
.logo{
    width: 250px;
    height: 40px;
}
.logo:hover{
    opacity: 0.8;
}
.nav-container{
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.carrito{
    width: 20px;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
    position: absolute;
    right: 40px;
    color: white;
    font-size: 30px;
}
.nav-items > li{
    padding: 0px 5px;
}
.nav-items > li > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 22px 10px;
}
.nav-items >li> a:hover,.active{
    background: #3EB9FF;
    transition: .3s;
}
.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;

}
nav{
    height: 60px;
    background-color: #0082E6;
}
@media (max-width: 1025px){
    .logo{
        width: 220px;
        height: 37px;
    }
    .nav-items{
        font-size: 14px;
    }

}
@media (max-width: 946px){
    .checkbtn{
        display: block;
        cursor: pointer;
    }
    .nav-items{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .nav-items > li{
        display: block;
        margin: 20px 0px;
        line-height: 20px;
    }
    .nav-items > li > a{
        font-size: 20px;
    }
    .nav-items >li> a:hover,.active{
        background: none;
        color: #0082e6;
    }
    .carrito:hover{
        content: url(../img/CarritoAzul.png);
        transition-delay: 1s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}