h1{
    padding-top: 100px;
    text-align: center;
    font-size: 36px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
.form{
    background: linear-gradient(180deg, #FFFFFF -31.05%, #3EB9FF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 60px auto;
    padding: 5px;
}
.form-inputs{
    width: 100%;
    padding: 15px;
}
.name,  .id-edit, .name-edit, .price-edit {
    padding-bottom:15px;
}
input{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 2px solid white;
    border-radius: 10px;
}
input:focus{
    outline-style: inherit;
    border-color: #2106CA;
}
.my-order{
    background: linear-gradient(180deg, #FFFFFF -31.05%, #E5E5E5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 60px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.order-table div{
    display: flex;
    justify-content: right;
    align-items: center;
}
.order-table div input{
    margin-left:auto;
    text-align: center;
    width: 15%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.order-table div i{
    width: 25px;
}
.fa-plus-square{
    color:#00E617;
    margin-right: 10px;
}
.fa-edit{
    color:white;
    margin-right: 10px;
}
.fa-minus-square{
    color: #E63700;
    margin-right: 10px;
}
.order-btn, .update-btn, .edit-btn{
    width: 30%;
    background: #0082E6;
    border-radius: 20px;
    padding: 15px 20px;
    color: white;
    border: none;
    font-size: 30px;
}
.add-btn{
    width: 30%;
    background: lightgrey;
    border-radius: 20px;
    padding: 15px 20px;
    color: white;
    border: none;
    font-size: 30px;
}
.order-btn:hover, .update-btn:hover, .edit-btn:hover{
    background: #E5E5E5;
    color:black;
}

.admin-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.complete-order{
    justify-content: center;
    align-items: center;
}

.complete-order{
    width: 50%;
}
.complete-order .order div, .total{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px ;
} 
.cancel-btn{
    width: 30%;
    background: #E63700;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 15px 20px;
    color: white;
    border: none;
    font-size: 30px;
}
.cancel-btn:hover, .add-btn:hover{
    opacity: 0.7;
}
.error{
    color: red;
    font-size: 18px;
}
.admin-section {
    display: none;
}
@media (max-width: 991px) {
    .update-btn, .order-btn,.cancel-btn,.edit-btn, .add-btn {
        font-size: 20px;
        width: 40%;
    }
}
